{
	"presets": [
		[ "latest", {
			"es2015": {
				"modules": false
			}
		} ]
	],
	"plugins": [
		"transform-object-rest-spread",
		[ "transform-jsx-flexible", {
			pragma: 'createSchemaElement.default',
			tags: {
				RawHTML: 'FakeDOM.createFakeDOMTree',
			}
		} ]
	],
	"env": {
		"default": {
			"plugins": [
				"transform-runtime"
			]
		},
		"test": {
			"presets": [ "latest" ]
		}
	}
}
